*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #223;
    font-family: sans-serif;
    color: #fff;
}
::placeholder { 
    color: #fff;
  }

.navbar{
    display: inline-flex;
    padding: 10px 25px;
    position: fixed;
    width: 100%;
    height: 65px;
    background-color: #13131f;
}
#check{
    display: none;
}
.checkbtn{
    padding: 5px;
    padding-right: 20px;
    font-size: 30px;
    columns: #fff;
    cursor: pointer;
    display: none;
}

nav img{
    height: 55px;
    color: #fff;
}

nav div ul li{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 16px;
}
nav div ul li a{
    color: #888;

}
.pc{
    display: inline-block;
}
.pc img{
    height: 45px;
    float: left;
}
.pc ul li a:hover{
    color: #bbb;
}
.pc ul li a:active{
    color: #fff;
}

input{
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(174, 174, 174, 0.751);
    font-size: 20px;
}
nav input{
    margin-left: 100px;
    height: 50px;
    width: 500px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.right ul li{
    margin: 6px;
    font-size: 16px;
}

.right ul li a{
    display: block;
    color: #000;
    border-radius: 50px;
    background-color: #fff;
    padding: 7px 1.2rem;
}

.mobile{
    display: none;
}

.mobile ul{
    display: block;
    background-color: #223;
    width: 100%;
}

input#check:checked ~ div.mobile{
    display: block;
}

.mobile ul li{
    display: block;
    margin: 0;
}
.mobile ul li a{
    display: block;
    color: #fff;
    padding: 10px;
}
.mobile ul li a:hover{
    background-color: #334;
}

main{
    display: block;
    background-image: url("/img/discord_banner_placeholder.png");
    height: 50rem;
    background-size: 150%;
    animation: move 120s linear infinite;
    padding: 20% 23%;
    text-align: center;
}

@keyframes move {
    0%{
        background-position-x: 50%;
        background-position-y: 50% 
    }
    100%{
        background-position: -2160px 200%;
    }
}

main form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr;
    gap: 20px;
    margin-left: 1rem;
    max-width: 690px;
}
main form h1{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 51px;
    font-weight: bold;
    text-align: center justify;
}

main form input{
    grid-column-start: 1;
    height: 60px;
}
main form button{
    grid-column-start: 2;
    background-color: #558;
    font-size: 18px;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
main form a{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #558;
    font-size: 18px;
    padding: 0.5rem 15rem;
    border-radius: 10px;
}
div{
    padding: 15%;
    text-align: center;
}

div h2{
    font-size: 18px;
    font-weight: 100;
    margin: 2rem 0;
}
div h2 p{
    margin: 1rem;
}
div.populares{
    text-align:left;
    padding: 0;
    margin: 2rem 10rem;
    display: block;
    
}
footer{
    background-color: #000;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

footer ul li{
    display: inline-block;
    margin: 10px;
}

footer ul li a{
    color: #aab;
}
footer ul li a:hover{
    color: #779;
}
@media (max-width: 1200px){
    .checkbtn{
        display: inline-block;
    }
    nav div img{
        display: none;
    }
    nav div ul li a{
        display: none;
    }
    nav input{
       display: none;
    }
    nav div.navbar_direita ul li a{
        display: none;
    }
}